.tile {
    height: 100px;
    width:100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.tile:disabled {
    background-color: white;
    border: 1px solid black;
    color: black;
    opacity: 1;
    cursor: not-allowed;
}