.tile {
    height: 100px;
    width:100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s;
}

.tile:hover {
    background-color: #f0f0f0;
}

.tile:active{
    transform: scale(0.95);
}

.tile:disabled {
    background-color: white;
    border: 1px solid black;
    color: black;
    opacity: 1;
    cursor: not-allowed;
}